{% load cms_tags static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/banner.css' %}">
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<link rel="stylesheet" href="{% static 'css/planes.css' %}">
<link rel="stylesheet" href="{% static 'css/novedades.css' %}">
<link rel="stylesheet" href="{% static 'css/why-servicios.css' %}">
<link rel="stylesheet" href="{% static 'css/contacto.css' %}">


