.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100vh;
}

.carousel-item {
    background-color: transparent;
    text-align: left;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carousel-control-prev,
.carousel-control-next {
    width: auto; /* Restablece el ancho predeterminado */
    height: auto; /* Restablece la altura predeterminada */
    padding: 20px; /* Elimina cualquier relleno */
    background: none; /* Elimina cualquier fondo */
    border: none; /* Elimina cualquier borde */

}

.carousel-control-prev-icon{
    width: 30px; /* Ancho deseado del icono */
    height: 30px; /* Altura deseada del icono */
    background-color: transparent; /* Hace que el fondo del icono sea transparente */
    background-size: 100%; /* Ajusta el tamaño del icono */
    filter: invert(30%);
}


.carousel-control-next-icon {
    width: 30px; /* Ancho deseado del icono */
    height: 30px; /* Altura deseada del icono */
    background-color: transparent; /* Hace que el fondo del icono sea transparente */
    background-size: 100%; /* Ajusta el tamaño del icono */
    filter: invert(20%);

}

.carousel-control-prev-icon:before,
.carousel-control-next-icon:before {
    font-size: 2rem; /* Tamaño del icono */
}

.left-button-container,
.right-button-container {
    position: absolute; /* Posición absoluta para que se superpongan al carrusel */
    top: 50%; /* Alinea verticalmente al centro */
    transform: translateY(-50%); /* Ajusta la posición verticalmente */
}

.left-button-container {
    left: 0; /* Alinea a la izquierda */
}

.right-button-container {
    right: 0; /* Alinea a la derecha */
}

.img-fluid {
    margin-top: 6rem;
    margin-left: 6rem;
    max-width: 60%;
}

.mas-info-btn {
    position: relative; /* Permitirá posicionar el ícono de manera absoluta */
    /*hacer un poco mas largo el botón*/
    padding: 12px 40px 10px 10px;  /* Aumenta el relleno del botón */
    border-radius: 48px;
}

.icono-mas {
    position: absolute; /* Permite posicionar el ícono dentro del botón */
    top: 50%; /* Lo posiciona verticalmente en el centro */
    right: 7px; /* Lo posiciona al inicio del botón */
    transform: translateY(-50%); /* Ajusta verticalmente según el tamaño */
    width: 30px; /* Tamaño del ícono */
    height: 30px; /* Tamaño del ícono */
    background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con opacidad 50% */
    border-radius: 50%; /* Hace el ícono redondo */
    display: flex; /* Permite centrar el contenido horizontalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.mas-info-btn:hover .icono-mas {
    background-color: rgba(255, 255, 255, 0.7); /* Cambia la opacidad al pasar el ratón */
}
