.hero {
    position: relative;
    background-image: url('/static/images/assets/nosotros-hero.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Tamaño del viewport */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2592D2; /* Color de superposición */
    opacity: 0.29; /* Opacidad */
}
  
  .hero-content {
    color: white;
    z-index: 1;
  }
  
  .hero-content h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  
  .hero-content p {
    font-size: 1.2em;
    line-height: 1.5;
    max-width: 600px;
    margin: 0 auto;
    z-index: -1;
  }

  .img-secciones {
    max-width: 80%; 
    max-height: 100%;
  }

  .mision {
    background-color: #f5f5f5;
  
  }

  .mision-container {
    padding: 50px 0;
    background-color: #f5f5f5;
  }

  .vision-container{
    padding: 50px 0;
  }

  .politica-section{
    background-color: #f5f5f5;
  }

  .politica-container {
    padding: 50px 0;
    background-color: #f5f5f5;
  }

  .lista-nosotros {
    list-style-type: none;
  }

  .contenedor-otros {
    height: auto;
    padding: 50px 0;
  }

  .imagen-cobertura-container{
    padding: 50px 0;
    transition: transform 0.5s ease;
  }

  .imagen-cobertura-container img:hover {
    transform: scale(1.1); /* Ajusta el valor de escala según tu preferencia */
}

