.novedades-container{
    height: auto;
    padding-bottom: 50px;
}

.titulo-novedades{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 50px;
}

.titulo-news-card {
    color: #2592D2
}

.card-img-top {
   border: 5px solid #75BBE2; 
   border-radius: 34px;
}

.news-card {
    border-radius: 34px;
    width: 18rem;
    border: 0px;
    padding-right: 20px;
}

.container-news-card {
    padding-right: 20px;
}

.btn-leer-mas{
    background-color: #75BBE2;
    border: 0px;
    border-radius: 21px;
    color: white;
}


.cargar-mas-btn{
    background-color: #75BBE2;
    border: 0px;
    border-radius: 21px;
    color: white;
}

.shadow-lg, .shadow-lg--on-hover:hover {
    box-shadow: 0 1rem 3rem rgba(132,138,163,0.1) !important;
}
