

.btn-group {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    width: 117px;
    height: 10vh; /* Altura ajustable según tu preferencia */
    color: #C0E3F3;

}

.titulo-planes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-top: 20px;
}

.container-btn-precio {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;

}

.btn-precio {
    border-radius: 18px;
}

#fibraBtn, #radioBtn {
    background-color: white;
    color: black;
}

.btn-group button {
    
    width: 4px; /* Ancho ajustable según tu preferencia */
    height: 40px; /* Altura ajustable según tu preferencia */
    font-size: 14px; /* Tamaño de fuente ajustable según tu preferencia */
    border-radius: 22.5px ;
    border-color: #E6E6E6;
    margin: 10px 0;
    color: black;

}

#fibraBtn.active, #radioBtn.active {
    background-color: #C0E3F3; /* Cambiar el color del botón activo */
    color: black;
}

.bg-light {
    border-radius: 45px;
}

.card-container-body {
    padding: 20px 20px 0 20px;
}