html, body {
    margin: 0;
    padding: 0;
    background-image: url('/static/images/assets/Recurso10.svg'), url('/static/images/assets/Recurso11.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top right, left;
    background-size: auto 71%, 10%;
}

@media (max-width: 1000px) {
    html, body {
        margin: 0;
        padding: 0;
        background-image: url('/static/images/assets/Recurso10.svg'), url('/static/images/assets/Recurso11.svg');
        background-repeat: no-repeat, no-repeat;
        background-position: top right, left;
        background-size: auto 60%, 5%;
    }
}

@media (max-width: 768px) {
    html, body {
        margin: 0;
        padding: 0;
        background-image: url('/static/images/assets/Recurso10.svg'), url('/static/images/assets/Recurso11.svg');
        background-repeat: no-repeat, no-repeat;
        background-position: top right, left;
        background-size: auto 30%, 5%;
    }

}