html, body {
    margin: 0;
    padding: 0;
    background-image: url('/static/images/assets/Recurso1.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;
    background-size: auto 36rem, 10%;
}

.main {
    margin: 0;
    padding: 0;
    background-image: url('/static/images/assets/Recurso11.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 8%;
}

@media (max-width: 1000px) {
    html, body {
        margin: 0;
        padding: 0;
        background-image: url('/static/images/assets/Recurso10.svg'), url('/static/images/assets/Recurso11.svg');
        background-repeat: no-repeat, no-repeat;
        background-position: top right, left;
        background-size: auto 60%, 5%;
    }
}

@media (max-width: 768px) {
    html, body {
        margin: 0;
        padding: 0;
        background-image: url('/static/images/assets/Recurso10.svg'), url('/static/images/assets/Recurso11.svg');
        background-repeat: no-repeat, no-repeat;
        background-position: top right, left;
        background-size: auto 30%, 5%;
    }

}

.planes-section {
    background-color: rgba(192, 227, 243, 0.19);
}

.contacto-section {
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url('/static/images/assets/bg-contacto.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 30%;

}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    animation: floatButton 3s infinite alternate; /* Animación de flotación */
  }
  
  .whatsapp-button img {
    width: 60px; /* Ajusta el tamaño del ícono según sea necesario */
    height: auto;
  }
  
  @keyframes floatButton {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }