.contenedor-why{
    height: auto;
}
.titulo-why{
    color: white;
    font-size: 50px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-why{
    margin-top: 0px;
    margin-bottom: 0px;
}

.why-p {
    color: white;
    font-size: 15px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}