{% load cms_tags menu_tags sekizai_tags static %}

<div class="left-button-container">
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
</div>

<div class="container">
    
    <div class="row">
        <!-- Primera columna -->
        <div class="col-md-6">
            <!-- Carrusel -->
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h1 >Soluciones de infraestructura para telecomunicaciones</h1>
                        <p style="color: #2592d2;">Descubre nuestras soluciones de infraestructura para telecomunicaciones, incluyendo instalación de fibra óptica, servicios eléctricos, electrónicos y energía solar. Lleva la conectividad de tu negocio al siguiente nivel</p>
                        <button class="mas-info-btn btn btn-primary">
                            Más información <span class="icono-mas">&#62;</span> 
                        </button>
                        
                    </div>
                    <div class="carousel-item">
                        <h1>Televisión IP (IPTV) y Digital</h1>
                        <p style="color: #2592d2;">Disfruta de la mejor calidad de imagen y sonido con nuestro servicio de televisión IP (IPTV) y digital. Accede a una amplia variedad de canales y contenido bajo demanda</p>
                        <button class="mas-info-btn btn btn-primary">
                            Más información <span class="icono-mas">&#62;</span> 
                        </button>
                        
                    </div>
                    <div class="carousel-item">
                        <h1>Servicios Integrales de TI y Telecomunicaciones</h1>
                        <p style="color: #2592d2;">Descubre nuestras soluciones integrales en TI y telecomunicaciones: administración de plataformas, outsourcing, conectividad, infraestructura IT, seguridad, comunicaciones unificadas, y más.</p>
                        <button class="mas-info-btn btn btn-primary">
                            Más información <span class="icono-mas">&#62;</span> 
                        </button>
                        
                    </div>
                </div>
               
              
            </div>
        </div>

        <!-- Segunda columna -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <!-- Contenido dinámico -->
                    <img src="{% static 'images/assets/banner1.png' %}" class="img-fluid rounded-circle mt-14" alt="Responsive image">
                </div>
            </div>
        </div>
        
    </div>
    
</div>
<div class="right-button-container">
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
