<div class="left-button-container">
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
</div>

<div class="container">
    
    <div class="row">
        <!-- Primera columna -->
        <div class="col-md-6">
            <!-- Carrusel -->
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h1>Soluciones de infraestructura para telecomunicaciones</h1>
                        <p>en fibra óptica, eléctricas, electrónicas y paneles solares</p>
                        <button class="btn btn-primary">Más Info</button>
                    </div>
                    <div class="carousel-item">
                        <h1>Option 2 Title</h1>
                        <h2>Option 2 Subtitle</h2>
                        <button class="btn btn-primary">More Info</button>
                    </div>
                    <div class="carousel-item">
                        <h1>Option 3 Title</h1>
                        <h2>Option 3 Subtitle</h2>
                        <button class="btn btn-primary">More Info</button>
                    </div>
                </div>
               
              
            </div>
        </div>

        <!-- Segunda columna -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <!-- Contenido dinámico -->
                    <img src="https://via.placeholder.com/300" class="img-fluid rounded-circle mt-14" alt="Responsive image">
                </div>
            </div>
        </div>
        
    </div>
    
</div>
<div class="right-button-container">
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
