{% load i18n cache cms_tags static %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <h3>Logo</h3>
                <!-- Aquí podría ir el logo -->
            </div>
            <div class="col-sm-6 col-md-3">
                <h3>Nosotros</h3>
                <!-- Aquí podrían ir detalles sobre la empresa o equipo -->
            </div>
            <div class="col-sm-6 col-md-3">
                <h3>Puntos de Atención</h3>
                <!-- Aquí podrían ir los puntos de atención o ubicaciones -->
            </div>
            <div class="col-sm-6 col-md-3">
                <h3>Enlaces de Interés</h3>
                <!-- Aquí podrían ir enlaces a páginas importantes -->
            </div>
            <div class="col-sm-12 col-md-12">
                <h3>Contacto</h3>
                <!-- Aquí podrían ir detalles de contacto -->
            </div>
        </div>
    </div>
</footer>
