{% load cms_tags menu_tags sekizai_tags static %}


    <nav class="navbar">
        <div class="navbar-logo">
            <a href="#"><img src="{% static 'images/logos/Simect-Logo.png' %}" alt="Logo"></a>
        </div>
        <ul class="navbar-options">
            <li><a href="#">Planes</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Facturas</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Hablemos</a></li>
        </ul>
        <div class="navbar-social-icons">
            <!-- Íconos de redes sociales aquí -->
        </div>
    </nav>
