{% load cms_tags menu_tags sekizai_tags static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="SimectGroup page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <title>{% block title %}Simect Group{% endblock title %}</title>
    {% bootstrap_css %}
    {% render_block "css" %}
    {% include "blocks/us_css_block.html" %}

</head>


<body>
    {% include "sections/navbar.html" %}

    <section class="hero">
        <div class="hero-content">
          <h1>SIMECT GROUP Telecomunicaciones S.A.S</h1>
          <p>Empresa de telecomunicaciones con operación nacional desde 2014, especializados en integración de soluciones de infraestructura para telecomunicaciones en fibra óptica, eléctricas, electrónicas y paneles solares.</p>
        </div>
      </section>



      <section id="mision" class="mision" style="text-align: center;">
        <div class="mision-container container">
            <div class="row align-items-center justify-content-center">
                <!-- Primera columna para los botones de switch entre misión y visión -->
                <div class="col-md-2 mb-3">
                    <a id="misionBtn" class="btn btn-primary btn-switch btn-mision-1 mr-2 active">Misión</a>
                    <a id="visionBtn" class="btn btn-primary btn-vision-2 btn-switch">Visión</a>
                </div>
                <!-- Segunda columna para la imagen -->
                <div class="col-md-5 mb-3" style="display: flex; justify-content: center; align-items: center;">
                    <img class="img-secciones" src="{% static 'images/assets/mision1.png' %}" alt="Imagen de la misión">
                </div>
                <!-- Tercera columna para el texto -->
                <div class="col-md-5 mb-3" style="display: flex; flex-direction: column; justify-content: center;">
                    <h2 class="mb-4">Misión</h2>
                    <p class="text-left">Nuestra misión es satisfacer las necesidades de nuestros 
                        clientes ofreciendo servicios integrales relacionados con 
                        asesoría, soporte técnico, administración, operación, 
                        construcción y mantenimiento de redes. Esto incluye 
                        sistemas de redes lógicos, eléctricos, telecomunicaciones, 
                        así como circuito cerrado de TV y telefonía. Nos 
                        destacamos por brindar soluciones en mantenimientos 
                        preventivos y correctivos en hardware y software, 
                        cumpliendo rigurosamente con estándares de calidad. 
                        Nuestro equipo, altamente cualificado, aporta su 
                        cumplimiento, responsabilidad, integridad y rectitud en 
                        cada proyecto. Contribuimos al crecimiento, prestigio y 
                        competitividad de las organizaciones, tomando en 
                        cuenta sus necesidades y exigencias. Nos consideramos 
                        más que un proveedor, nos convertimos en aliados 
                        estratégicos y socios de confianza.
                    </p>
                </div>
            </div>
        </div>
    </section>
    

    <section id="vision" class="vision" style="text-align: center;">
        <div class="vision-container container">
            <div class="row align-items-center justify-content-center">
                <!-- Columna para los botones de switch -->
                <div class="col-md-2 mb-3">
                    <a id="misionBtnVision" class="btn btn-primary btn-switch btn-mision-2 mr-2">Misión</a>
                    <a id="visionBtn" class="btn btn-primary btn-switch btn-vision-2 active">Visión</a>
                </div>
                <!-- Columna para la imagen -->
                <div class="col-md-5 mb-3" style="display: flex; justify-content: center; align-items: center;">
                    <img class="img-secciones" src="{% static 'images/assets/vision1.png' %}" alt="Imagen de la visión">
                </div>
                <!-- Columna para el texto -->
                <div class="col-md-5 mb-3" style="display: flex; flex-direction: column; justify-content: center;">
                    <h2 class="mb-4">Visión</h2>
                    <p class="text-left">En Simect Group, aspiramos a ser líderes reconocidos en la industria de 
                        las telecomunicaciones, siendo el socio preferido por nuestros clientes para satisfacer 
                        sus necesidades más críticas. Nos esforzamos por ofrecer servicios integrales y soluciones 
                        innovadoras en asesoría, soporte técnico, administración, operación, construcción y mantenimiento 
                        de redes. Nuestro compromiso con la excelencia, la integridad y la calidad nos impulsa a superar
                        constantemente los estándares del mercado y a brindar un servicio excepcional que contribuya al
                        éxito y la competitividad de nuestros clientes. Nos vemos a nosotros mismos como más que simples 
                        proveedores; somos colaboradores estratégicos y socios de confianza, comprometidos a impulsar el 
                        crecimiento y el prestigio de las organizaciones con las que trabajamos.
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    

    <section class="politica-section" style="text-align: center;">
        <div class="politica-container container">
            <div class="row">
                <div class="col-md-6" style="display: flex; flex-direction: column; justify-content: center;">
                    <h2>Política de calidad</h2>
                    <p class="text-left">En SIMECT GROUP trabajamos para lograr la satisfacción permanente del cliente, 
                        cumpliendo con eficacia los compromisos establecidos apoyados en la formación integral y 
                        competencia de nuestro personal basado en el mejoramiento continuo
                    </p>                
                </div>

                <div class="col-md-6" style="display: flex; justify-content: center; align-items: center;">
                    <img class="img-secciones" src="{% static 'images/assets/news3.jpg' %}" alt="Imagen de la misión"  >
                </div>

                <div class="col-md-6" style="display: flex; justify-content: center; align-items: center;">
                    <img class="img-secciones" src="{% static 'images/assets/news3.jpg' %}" alt="Imagen de la misión"  >
                </div>

                <div class="col-md-6" style="display: flex; flex-direction: column; justify-content: center;">
                    <h2>Valores</h2>
                    <p class="text-left">
                        <ul class="lista-nosotros">
                            <li >Confiabilidad y seguridad.</li>
                            <li>Conocimiento y experiencia</li>
                            <li>Competitividad y profesionalismo</li>
                            <li>Respuestas inmediatas y oportunas</li>
                            <li>Servicio al cliente y soluciones integrales</li>
                            <li>Calidad</li>
                        </ul>
                    </p>                
                </div>
                
            </div>
        </div>
    </section>


    <section class="politica-section" style="text-align: center;">
        <div class="politica-container container">
            <div class="row">

            

                <div class="col-md-6" style="display: flex; flex-direction: column; justify-content: center;">
                    <h2>Objetivos</h2>
                    <p class="text-left">
                        <ul class="lista-nosotros">
                            <li >Mantenimiento y operación de redes</li>
                            <li>Innovación en los servicios de telecomunicaciones</li>
                            <li>Ganar posición en el campo de las telecomunicaciones y la informática</li>
                            <li>Actividades en áreas de telecomunicaciones eléctricas, electrónica e informática</li>
                     
                        </ul>
                    </p>                
                </div>

                <div class="col-md-6" style="display: flex; justify-content: center; align-items: center;">
                    <img class="img-secciones" src="{% static 'images/assets/news3.jpg' %}" alt="Imagen de la misión"  >
                </div>
                
            </div>
        </div>
    </section>

    <section class="otros-datos">
        <div class=" contenedor-otros" style="background-color: #C0E3F3; ">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-left">
                            <img src="{% static 'images/assets/Group33733.png' %}" class="img-otros img-fluid " alt="Imagen 1">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-left">
                            <img src="{% static 'images/assets/Group33734.png' %}" class="img-otros img-fluid " alt="Imagen 2">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-left">
                            <img src="{% static 'images/assets/Group33735.png' %}" class="img-otros img-fluid " alt="Imagen 3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cobertura-section">
        <div class="cobertura-container container">
            <div class="row">
                <div class="col-md-6" style="display: flex; flex-direction: column; justify-content: center;">
                    <h2>Cobertura</h2>
                    <p class="text-left">Nuestra empresa cuenta con una amplia cobertura a nivel nacional, 
                        ofreciendo servicios de telecomunicaciones en todo el territorio colombiano. 
                        Nuestro equipo de profesionales altamente capacitados y con amplia experiencia 
                        en el sector, nos permite brindar soluciones integrales y de alta calidad, 
                        adaptadas a las necesidades de nuestros clientes. Nos destacamos por nuestra 
                        capacidad para ofrecer servicios de asesoría, soporte técnico, administración, 
                        operación, construcción y mantenimiento de redes, así como sistemas de redes 
                        lógicos, eléctricos, telecomunicaciones, circuito cerrado de TV y telefonía. 
                        Nuestro compromiso con la excelencia, la integridad y la calidad nos impulsa 
                        a superar constantemente los estándares del mercado y a brindar un servicio 
                        excepcional que contribuya al éxito y la competitividad de nuestros clientes.
                    </p>                
                </div>
                <div class="col-md-6 imagen-cobertura-container" style="display: flex; justify-content: center; align-items: center;">
                    <img class="img-secciones" src="{% static 'images/assets/mapa-cobertura.png' %}" alt="Imagen de mapa de Colombia"  >
                </div>
            </div>
        </div>
    </section>
    
      <div class="whatsapp-button">
        <a href="https://api.whatsapp.com/send?phone=3163347098">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
        </a>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('misionBtn').classList.add('active');
            document.getElementById('vision').style.display = 'none';
        });

        // Función para mostrar la sección de misión y ocultar la de visión con transición
        document.getElementById('misionBtnVision').addEventListener('click', function() {
            const misionSection = document.getElementById('mision');
            const visionSection = document.getElementById('vision');
            misionSection.style.display = 'block';
            visionSection.style.display = 'none';
            misionSection.style.opacity = 0;
            setTimeout(function() {
                misionSection.style.opacity = 1;
            }, 100); // Ajusta el tiempo de espera según sea necesario
            document.getElementById('misionBtnVision').classList.add('active');
            document.getElementById('visionBtn').classList.remove('active');
        });

        // Función para mostrar la sección de visión y ocultar la de misión con transición
        document.getElementById('visionBtn').addEventListener('click', function() {
            const misionSection = document.getElementById('mision');
            const visionSection = document.getElementById('vision');
            misionSection.style.display = 'none';
            visionSection.style.display = 'block';
            visionSection.style.opacity = 0;
            setTimeout(function() {
                visionSection.style.opacity = 1;
            }, 100); // Ajusta el tiempo de espera según sea necesario
            document.getElementById('misionBtn').classList.remove('active');
            document.getElementById('visionBtn').classList.add('active');
        });
    </script>
    


</body>

</html>