<div class="container">
    <h1>Planes de internet</h1>
    <!-- Botón de switch -->
    <div class="btn-group" role="group" aria-label="Switch options">
      <button type="button" class="btn btn-primary" id="fibraBtn">Fibra</button>
      <button type="button" class="btn btn-primary" id="radioBtn">Radio</button>
    </div>

    <!-- Contenedor de cards -->
    <div id="cardContainer">
      <!-- Cards de Fibra -->
      <div id="fibraCards" class="d-none">
        <div class="card-deck">
          <!-- Cards del carrusel -->
          <!-- Primera Card -->
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Header 1</div>
            <div class="card-body">
              <h5 class="card-title">Light card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <!-- Segunda Card -->
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Header 2</div>
            <div class="card-body">
              <h5 class="card-title">Light card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <!-- Tercera Card -->
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Header 3</div>
            <div class="card-body">
              <h5 class="card-title">Light card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <!-- Cuarta Card -->
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Header 4</div>
            <div class="card-body">
              <h5 class="card-title">Light card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Cards de Radio -->
      <div id="radioCards" class="cards-container d-none">
        <div class="card-deck">
          <!-- Cards de Radio -->
          <!-- Inserta aquí las cards de Radio -->
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Header 1</div>
            <div class="card-body">
              <h5 class="card-title">Light card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <!-- Segunda Card -->
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Header 2</div>
            <div class="card-body">
              <h5 class="card-title">Light card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <!-- Tercera Card -->
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Header 3</div>
            <div class="card-body">
              <h5 class="card-title">Light card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Mostrar las cards de Fibra por defecto
    document.getElementById('radioCards').classList.add('d-none');
    document.getElementById('radioBtn').classList.remove('active')

    // Función para mostrar u ocultar las cards según la opción seleccionada
    document.getElementById('fibraBtn').addEventListener('click', function() {
      document.getElementById('fibraCards').classList.remove('d-none');
      document.getElementById('radioCards').classList.add('d-none');
      document.getElementById('fibraBtn').classList.add('active');
      document.getElementById('radioBtn').classList.remove('active');
    });

    document.getElementById('radioBtn').addEventListener('click', function() {
      document.getElementById('fibraCards').classList.add('d-none');
      document.getElementById('radioCards').classList.remove('d-none');
      document.getElementById('fibraBtn').classList.remove('active');
      document.getElementById('radioBtn').classList.add('active');
    });
  </script>