<div class="planes-container container">
    <p></p>
    <div class="boton-titulo">
        <h1 class="titulo-planes">Planes de internet</h1>
        <!-- Botón de switch -->
        <div class="btn-group" role="group" aria-label="Switch options">
            <button type="button" class="btn btn-primary" id="fibraBtn">Fibra</button>
            <button type="button" class="btn btn-primary" id="radioBtn">Radio</button>
        </div>
    </div>

    <!-- Contenedor de cards -->
  
      <!-- Cards de Fibra -->
      <div id="fibraCards" class="d-none card-container" >
        <div class="card-deck">
          <!-- Cards del carrusel -->
          <!-- Primera Card -->
          <div class="card-planes card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header"><h1 style="color: white;">40 Megas</h1></div>
            <div class="card-body">
              <h6 class="card-title"><span>✔</span> Velocidad de descarga</h6>
              <p class="card-text">40 Megas </p>
              <p>Ideal para navegación web básica, streaming de música y video en definición estándar.</p>

              <h6 class="card-title"><span>✔</span> Sin límite de datos: </h6>
              <p class="card-text">Navega sin preocupaciones ni restricciones. </p>

              <h6 class="card-title"><span>✔</span> Costo de instalación: </h6>
              <p class="card-text">$25.000 </p>

              <h6 class="card-title"><span>✔</span> Soporte técnico 24/7: </h6>
              <p class="card-text">Asistencia disponible en cualquier momento. </p>

            </div>
          </div>
          <!-- Segunda Card -->
          <div class="card-planes card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header"><h1 style="color: white;">60 Megas</h1></div>
            <div class="card-body">
                <h6 class="card-title"><span>✔</span> Velocidad de descarga</h6>
                <p class="card-text">60 Megas </p>
                <p>Perfecto para hogares con múltiples dispositivos conectados y streaming en HD.</p>
  
                <h6 class="card-title"><span>✔</span> WiFi de alta velocidad: </h6>
                <p class="card-text">Conexión rápida y estable en toda tu casa. </p>
  
                <h6 class="card-title"><span>✔</span> Costo de instalación: </h6>
                <p class="card-text">$25.000 </p>
  
                <h6 class="card-title"><span>✔</span> Soporte técnico 24/7: </h6>
                <p class="card-text">Asistencia disponible en cualquier momento. </p>
            </div>
          </div>
          <!-- Tercera Card -->
          <div class="card-planes card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header"><h1 style="color: white;"> 80 Megas</h1></div>
            <div class="card-body">
                <h6 class="card-title"><span>✔</span> Velocidad de descarga</h6>
                <p class="card-text">80 Megas </p>
                <p>Ideal para familias o pequeñas empresas con altas demandas de internet.</p>
  
                <h6 class="card-title"><span>✔</span> Garantía de velocidad: </h6>
                <p class="card-text">Velocidades constantes para tus necesidades en línea. </p>
  
                <h6 class="card-title"><span>✔</span> Costo de instalación: </h6>
                <p class="card-text">$25.000 </p>
  
                <h6 class="card-title"><span>✔</span> Soporte técnico 24/7: </h6>
                <p class="card-text">Asistencia disponible en cualquier momento. </p>
            </div>
          </div>
          <!-- Cuarta Card -->
          <div class="card-planes card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header"><h1 style="color: white;">100 Megas</h1></div>
            <div class="card-body">
                <h6 class="card-title"><span>✔</span> Velocidad de descarga</h6>
                <p class="card-text">100 Megas </p>
                <p>Perfecto para hogares o negocios con múltiples dispositivos y streaming en Ultra HD.</p>
  
                <h6 class="card-title"><span>✔</span> Alta velocidad de carga: </h6>
                <p class="card-text">Sube archivos grandes y realiza videoconferencias sin interrupciones. </p>
  
                <h6 class="card-title"><span>✔</span> Costo de instalación: </h6>
                <p class="card-text">$25.000 </p>
  
                <h6 class="card-title"><span>✔</span> Soporte técnico 24/7: </h6>
                <p class="card-text">Asistencia disponible en cualquier momento. </p>
            </div>
          </div>
        </div>
      </div>



    <!-- HASTA AQUI SON LAS CARDS DE FIBRA!!!!!!!!!!!! -->



      <!-- Cards de Radio -->
      <div id="radioCards" class="cards-container d-none">
        <div class="card-deck">
          <!-- Cards de Radio -->
          <!-- Inserta aquí las cards de Radio -->
          <div class="card-planes card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header"><h1 style="color: white;"> 4 Megas</h1></div>
            <div class="card-body">
                <h6 class="card-title"><span>✔</span> Velocidad de descarga</h6>
                <p class="card-text">4 Megas </p>
                <p>Perfecto para usuarios que buscan una conexión básica para navegar por la web, enviar correos electrónicos y disfrutar de streaming de música.</p>
  
                <h6 class="card-title"><span>✔</span> Límite de datos: </h6>
                <p class="card-text">¡Nuestros planes de internet por Radio no tienen límite de datos! Puedes navegar sin preocupaciones ni restricciones, disfrutando de una conexión confiable y constante en todo momento. </p>
  
                <h6 class="card-title"><span>✔</span> Costo de instalación: </h6>
                <p class="card-text">$25.000 </p>
  
                <h6 class="card-title"><span>✔</span> Soporte técnico 24/7: </h6>
                <p class="card-text">Asistencia disponible en cualquier momento. </p>
            </div>
          </div>
          <!-- Segunda Card -->
          <div class="card-planes card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header"><h1 style="color: white;"> 7 Megas</h1></div>
            <div class="card-body">
                <h6 class="card-title"><span>✔</span> Velocidad de descarga</h6>
                <p class="card-text">7 Megas </p>
                <p>Ideal para hogares con múltiples dispositivos conectados, permitiendo una navegación fluida y la reproducción de videos en definición estándar.</p>
  
                <h6 class="card-title"><span>✔</span> Límite de datos: </h6>
                <p class="card-text">¡Nuestros planes de internet por Radio no tienen límite de datos! Puedes navegar sin preocupaciones ni restricciones, disfrutando de una conexión confiable y constante en todo momento. </p>
  
                <h6 class="card-title"><span>✔</span> Costo de instalación: </h6>
                <p class="card-text">$25.000 </p>
  
                <h6 class="card-title"><span>✔</span> Soporte técnico 24/7: </h6>
                <p class="card-text">Asistencia disponible en cualquier momento. </p>
            </div>
          </div>
          <!-- Tercera Card -->
          <div class="card-planes card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header"><h1 style="color: white;"> 10 Megas</h1></div>
            <div class="card-body">
                <h6 class="card-title"><span>✔</span> Velocidad de descarga</h6>
                <p class="card-text">10 Megas </p>
                <p>Ofrecemos una velocidad media que es adecuada para familias y pequeñas empresas, permitiendo una experiencia en línea sin interrupciones para múltiples actividades simultáneas, como streaming de video HD y descargas de archivos grandes.</p>
  
                <h6 class="card-title"><span>✔</span> Límite de datos: </h6>
                <p class="card-text">¡Nuestros planes de internet por Radio no tienen límite de datos! Puedes navegar sin preocupaciones ni restricciones, disfrutando de una conexión confiable y constante en todo momento. </p>
  
                <h6 class="card-title"><span>✔</span> Costo de instalación: </h6>
                <p class="card-text">$25.000 </p>
  
                <h6 class="card-title"><span>✔</span> Soporte técnico 24/7: </h6>
                <p class="card-text">Asistencia disponible en cualquier momento. </p>
            </div>
          </div>

          <!-- cuarta Radio Card -->
          <div class="card-planes card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header"><h1 style="color: white;"> 20 Megas</h1></div>
            <div class="card-body">
                <h6 class="card-title"><span>✔</span> Velocidad de descarga</h6>
                <p class="card-text">20 Megas </p>
                <p>Para aquellos que buscan una experiencia de navegación rápida y fluida, esta velocidad es perfecta para hogares y negocios con altas demandas de internet. Ideal para streaming en Ultra HD, videoconferencias y transferencias de archivos grandes.</p>
  
                <h6 class="card-title"><span>✔</span> Límite de datos: </h6>
                <p class="card-text">¡Nuestros planes de internet por Radio no tienen límite de datos! Puedes navegar sin preocupaciones ni restricciones, disfrutando de una conexión confiable y constante en todo momento. </p>
  
                <h6 class="card-title"><span>✔</span> Costo de instalación: </h6>
                <p class="card-text">$25.000 </p>
  
                <h6 class="card-title"><span>✔</span> Soporte técnico 24/7: </h6>
                <p class="card-text">Asistencia disponible en cualquier momento. </p>
            </div>
          </div>
        </div>
      </div>
    </div>


  <script>
    // Mostrar las cards de Fibra por defecto
    document.getElementById('fibraCards').classList.remove('d-none');
    document.getElementById('fibraBtn').classList.add('active');

  
    // Función para mostrar u ocultar las cards según la opción seleccionada
    document.getElementById('fibraBtn').addEventListener('click', function() {
      document.getElementById('fibraCards').classList.remove('d-none');
      document.getElementById('radioCards').classList.add('d-none');
      document.getElementById('fibraBtn').classList.add('active');
      document.getElementById('radioBtn').classList.remove('active');

    });
  
    document.getElementById('radioBtn').addEventListener('click', function() {
      document.getElementById('fibraCards').classList.add('d-none');
      document.getElementById('radioCards').classList.remove('d-none');
      document.getElementById('fibraBtn').classList.remove('active');
      document.getElementById('radioBtn').classList.add('active');
    });
  </script>