<div class="planes-container container">
    <p></p>
    <div class="boton-titulo">
        <h1 class="titulo-planes">Planes de internet</h1>
        <!-- Botón de switch -->
        <div class="btn-group" role="group" aria-label="Switch options">
            <button type="button" class="btn btn-primary" id="fibraBtn">Fibra</button>
            <button type="button" class="btn btn-primary" id="radioBtn">Radio</button>
        </div>
    </div>

    <!-- Contenedor de cards -->
  
      <!-- Cards de Fibra -->
      <div id="fibraCards" class="d-none card-container" >
        <div class="card-deck">
          <!-- Cards del carrusel -->
          <!-- Primera Card -->
          <div class="card-planes card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header text-center"><h2 style="color: white;">40 Megas</h2></div>
            <div class="card-body">
              <h6 class="card-title"><span>✔</span> Velocidad de descarga</h6>
              <p>Ideal para navegación web básica, streaming de música y video en definición estándar.</p>

              <h6 class="card-title"><span>✔</span> Sin límite de datos: </h6>
              <p class="card-text">Navega sin preocupaciones ni restricciones. </p>

              <h6 class="card-title"><span>✔</span> Costo de instalación: </h6>
              <p class="card-text">$25.000 </p>

              <h6 class="card-title"><span>✔</span> Soporte técnico 24/7: </h6>
              <p class="card-text">Asistencia disponible en cualquier momento. </p>

              <div class="container-btn-precio col-md-12 text-center">
                <button id="btn-precio" class="cargar-mas-btn btn btn-primary mt-4"><span>COP</span>$46.000</butto>
              </div>

            </div>
          </div>
          <!-- Segunda Card -->
          <div class="card-planes card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header text-center"><h2 style="color: white;">60 Megas</h2></div>
            <div class="card-body">
                <h6 class="card-title"><span>✔</span> Velocidad de descarga</h6>
                <p>Perfecto para navegar en la web, enviar correos electrónicos y disfrutar de música en streaming.</p>
  
                <h6 class="card-title"><span>✔</span> WiFi de alta velocidad: </h6>
                <p class="card-text">Conexión rápida y estable en toda tu casa. </p>
  
                <h6 class="card-title"><span>✔</span> Costo de instalación: </h6>
                <p class="card-text">$25.000 </p>
  
                <h6 class="card-title"><span>✔</span> Soporte técnico 24/7: </h6>
                <p class="card-text">Asistencia disponible en cualquier momento. </p>

                <div class="container-btn-precio col-md-12 text-center">
                  <button id="btn-precio" class="cargar-mas-btn btn btn-primary mt-4"><span>COP</span>$60.000</butto>
                </div>
            </div>
          </div>
          <!-- Tercera Card -->
          <div class="card-planes card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header text-center"><h2 style="color: white;"> 80 Megas</h2></div>
            <div class="card-body">
                <h6 class="card-title"><span>✔</span> Velocidad de descarga</h6>
                <p>Ideal para familias o pequeñas empresas con altas demandas de internet.</p>
  
                <h6 class="card-title"><span>✔</span> Garantía de velocidad: </h6>
                <p class="card-text">Velocidades constantes para tus necesidades en línea. </p>
  
                <h6 class="card-title"><span>✔</span> Costo de instalación: </h6>
                <p class="card-text">$25.000 </p>
  
                <h6 class="card-title"><span>✔</span> Soporte técnico 24/7: </h6>
                <p class="card-text">Asistencia disponible en cualquier momento. </p>

                <div class="container-btn-precio col-md-12 text-center">
                  <button id="btn-precio" class="cargar-mas-btn btn btn-primary mt-4"><span>COP</span>$74.000</butto>
                </div>
            </div>
          </div>
          <!-- Cuarta Card -->
          <div class="card-planes card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header text-center"><h2 style="color: white;">100 Megas</h2></div>
            <div class="card-body">
                <h6 class="card-title"><span>✔</span> Velocidad de descarga</h6>
                <p>Ideal para hogares o negocios con múltiples dispositivos y streaming en Ultra HD.</p>
  
                <h6 class="card-title"><span>✔</span> Alta velocidad de carga: </h6>
                <p class="card-text">Sube archivos grandes y realiza videoconferencias sin interrupciones. </p>
  
                <h6 class="card-title"><span>✔</span> Costo de instalación: </h6>
                <p class="card-text">$25.000 </p>
  
                <h6 class="card-title"><span>✔</span> Soporte técnico 24/7: </h6>
                <p class="card-text">Asistencia disponible en cualquier momento. </p>

                <div class="container-btn-precio col-md-12 text-center">
                  <button id="btn-precio" class="cargar-mas-btn btn btn-primary mt-4"><span>COP</span>$89.000</butto>
                </div>
            </div>
          </div>
        </div>
      </div>



    <!-- HASTA AQUI SON LAS CARDS DE FIBRA!!!!!!!!!!!! -->



      <!-- Cards de Radio -->
      <div id="radioCards" class="cards-container d-none">
        <div class="card-deck">
          <!-- Cards de Radio -->
          <!-- Inserta aquí las cards de Radio -->
          <div class="card-planes card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header text-center"><h2 style="color: white;"> 4 Megas</h2></div>
            <div class="card-body">
                <h6 class="card-title"><span>✔</span> Velocidad de descarga</h6>
                <p>Ideal para navegación web, correo electrónico y streaming de música.</p>
  
                <h6 class="card-title"><span>✔</span> Límite de datos: </h6>
                <p class="card-text">
                  Disfruta de una conexión constante y confiable sin restricciones. 
                </p>
  
                <h6 class="card-title"><span>✔</span> Costo de instalación: </h6>
                <p class="card-text">$25.000 </p>
  
                <h6 class="card-title"><span>✔</span> Soporte técnico 24/7: </h6>
                <p class="card-text">Asistencia disponible en cualquier momento. </p>

                <div class="container-btn-precio col-md-12 text-center">
                  <button id="btn-precio" class="cargar-mas-btn btn btn-primary mt-4"><span>COP</span>$46.000</butto>
                </div>
            </div>
          </div>
          <!-- Segunda Card -->
          <div class="card-planes card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header text-center"><h2 style="color: white;"> 7 Megas</h2></div>
            <div class="card-body">
                <h6 class="card-title"><span>✔</span> Velocidad de descarga</h6>
                <p>
                  Ideal para actividades en línea como navegación web, correos electrónicos y streaming de música.</p>
  
                <h6 class="card-title"><span>✔</span> Límite de datos: </h6>
                <p class="card-text">Disfruta de una conexión constante y confiable sin restricciones. </p>
  
                <h6 class="card-title"><span>✔</span> Costo de instalación: </h6>
                <p class="card-text">$25.000 </p>
  
                <h6 class="card-title"><span>✔</span> Soporte técnico 24/7: </h6>
                <p class="card-text">Asistencia disponible en cualquier momento. </p>

                <div class="container-btn-precio col-md-12 text-center">
                  <button id="btn-precio" class="cargar-mas-btn btn btn-primary mt-4"><span>COP</span>$60.000</butto>
                </div>
            </div>
          </div>
          <!-- Tercera Card -->
          <div class="card-planes card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header text-center"><h2 style="color: white;"> 10 Megas</h2></div>
            <div class="card-body">
                <h6 class="card-title"><span>✔</span> Velocidad de descarga</h6>
                <p>Velocidad ideal para familias y empresas, permite streaming HD y descargas grandes</p>
  
                <h6 class="card-title"><span>✔</span> Límite de datos: </h6>
                <p class="card-text">Disfruta de una conexión constante y confiable sin restricciones. </p>
  
                <h6 class="card-title"><span>✔</span> Costo de instalación: </h6>
                <p class="card-text">$25.000 </p>
  
                <h6 class="card-title"><span>✔</span> Soporte técnico 24/7: </h6>
                <p class="card-text">Asistencia disponible en cualquier momento. </p>

                <div class="container-btn-precio col-md-12 text-center">
                  <button id="btn-precio" class="cargar-mas-btn btn btn-primary mt-4"><span>COP</span>$74.000</butto>
                </div>
            </div>
          </div>

          <!-- cuarta Radio Card -->
          <div class="card-planes card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header text-center"><h2 style="color: white;"> 20 Megas</h2></div>
            <div class="card-body">
                <h6 class="card-title"><span>✔</span> Velocidad de descarga</h6>
                <p>
                  Perfecta para hogares y negocios, permite streaming y videoconferencias.</p>
  
                <h6 class="card-title"><span>✔</span> Límite de datos: </h6>
                <p class="card-text">Disfruta de una conexión constante y confiable sin restricciones.</p>
  
                <h6 class="card-title"><span>✔</span> Costo de instalación: </h6>
                <p class="card-text">$25.000 </p>
  
                <h6 class="card-title"><span>✔</span> Soporte técnico 24/7: </h6>
                <p class="card-text">Asistencia disponible en cualquier momento. </p>

                <div class="container-btn-precio col-md-12 text-center">
                  <button id="btn-precio" class="cargar-mas-btn btn btn-primary mt-4"><span>COP</span>$104.000</butto>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  <script>
    // Mostrar las cards de Fibra por defecto
    document.getElementById('fibraCards').classList.remove('d-none');
    document.getElementById('fibraBtn').classList.add('active');

  
    // Función para mostrar u ocultar las cards según la opción seleccionada
    document.getElementById('fibraBtn').addEventListener('click', function() {
      document.getElementById('fibraCards').classList.remove('d-none');
      document.getElementById('radioCards').classList.add('d-none');
      document.getElementById('fibraBtn').classList.add('active');
      document.getElementById('radioBtn').classList.remove('active');

    });
  
    document.getElementById('radioBtn').addEventListener('click', function() {
      document.getElementById('fibraCards').classList.add('d-none');
      document.getElementById('radioCards').classList.remove('d-none');
      document.getElementById('fibraBtn').classList.remove('active');
      document.getElementById('radioBtn').classList.add('active');
    });
  </script>