{% load cms_tags menu_tags sekizai_tags static %}

<div class="contenedor-why" style="background-color: #94cbe9; ">
    <div class="titulo-why-container">
        <h1 class="titulo-why" >¿Por qué elegir nuestros servicios?</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="text-left">
                    <img src="{% static 'images/assets/wifielipse.png' %}" class="img-why img-fluid rounded-circle" alt="Imagen 1">
                </div>
                <p class="why-p text-left">Nuestra red está diseñada para ofrecer velocidades rápidas y consistentes en todo momento. Desde la navegación web hasta la transmisión de video en alta definición, garantizamos una experiencia fluida y sin interrupciones.</p>
            </div>
            <div class="col-md-4">
                <div class="text-left">
                    <img src="{% static 'images/assets/robotelipse2.png' %}" class="img-why img-fluid rounded-circle" alt="Imagen 2">
                </div>
                <p class="why-p text-left">Nuestro equipo de expertos está siempre disponible para brindarte el soporte que necesitas. Desde la instalación inicial hasta la resolución de problemas, estamos aquí para asegurarnos de que tu experiencia sea lo más satisfactoria posible.</p>
            </div>
            <div class="col-md-4">
                <div class="text-left">
                    <img src="{% static 'images/assets/redeselipse.png' %}" class="img-why img-fluid rounded-circle" alt="Imagen 3">
                </div>
                <p class="why-p text-left">No importa dónde te encuentres, estamos comprometidos a mantenerte conectado. Con una cobertura extensa y confiable, puedes confiar en nuestra red para mantener tus comunicaciones activas en todo momento, ya sea en el centro de la ciudad o en áreas remotas.</p>
            </div>
        </div>
    </div>
</div>
